body{
	padding: 0;
	margin: 0;
}
/*HEADER*/
nav{
	margin: 0;
	padding: 0;
	background: linear-gradient(-45deg, rgba(255,174,75,1) 0%, rgba(255,108,10,1) 37%, rgba(255,145,10,1) 73%, rgba(255,174,75,1) 100%);	display: flex;
	justify-content: space-around;
}
.logo_img_nav{
	height: 70px;
	position: relative;
	margin: 0 0 0 40px;
}
nav ul{
	display: flex;
	float: right;
	padding: 13px 0;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 0 20px;
	font-size: 20px;
	font-family: sans-serif; 
}
nav ul li a:hover{
	color: #aaf; 
}
nav ul li a:active{
	color: #fa9a9a;
}
.fa-bars{
	display: none;
	color: #fff;
	font-size: 30px;
}
.fa-bars:active{
	font-size: 31px;
	color: #fffcc0;
}
/*HOME*/
main{
	background: url("../img/GalleryPhoto7.jpg") center 0px / cover no-repeat fixed;
}
main h2{
	color: #fff;
	font-size: 70px;
	font-family: sans-serif;
	font-weight: 600;
	text-align: center;
	margin: 0 0 0 0;
	padding: 110px 0 80px 0;
}
main h4{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	font-size: 35px;
	font-weight: 400;
	font-family: serif;
	padding: 0 0 200px 0;
	color: #fff;
}
main h4 strong{
	font-family: sans-serif;
}
.gallery_body{
	background: url("../img/fon-Gallery.jpg") center 0px / cover no-repeat fixed;
	padding: 50px 0;
}
.gallery_title{
	font-size: 38px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;  
    padding: 20px 0 10px 0 ; 
	letter-spacing: 2px;
	opacity: 0.75;
}
.gallery_paragraf{
	font-size: 20px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0 50px 0;
}
.gallery{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.gallery img{
	height: 300px;
	margin: 10px 0;
	overflow: hidden;
}
.gallery img:hover{
	cursor: pointer;
	transform: scale(1.1);
	transition: .8s
}
/*MyPhoto*/
.MyPhoto_body{
	background: linear-gradient(to bottom, rgba(193,191,234,1) 0%, rgb(152, 176, 255) 77%, rgba(235,233,249,1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;	
}
section{
	margin: 10px auto;
	width: 100%;
}
section h3{
	font-size: 30px;
	font-weight: 300;
	width: 80%;
	margin: 30px auto;
	text-align: center;
}
.VK{
	text-decoration: none;
	font-weight: 600;
	font-family: sans-serif;
}
.client_key{
	font-size: 20px;
	font-family: sans-serif;
	color: #222;
	padding:20px 40px;
	margin: 0 20px 50px 140px;
	width: 50%;
	text-align: center;
}
.client_key_btn{
	font-size: 25px;
	border: 0;
	padding: 20px 5px 26px 5px;
	border-radius: 10px;
	color: #fff;
	background: #2e93ff;
	cursor: pointer;
}
.client_key_btn:active{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	color: #ccc;
}
.client_key_btn:focus{
	outline: none;
}
.my_photo{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}
.my_photo_img{
	height: 300px;
	margin: 30px;
	cursor: pointer;
	border: 5px solid black;
	border-radius: 30px;
}
/*ABOUT US*/
.about_body{
	background: #e8e8e8;
}
.what_doing_title{
	font-size: 48px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;  
    padding: 40px 0 0 0 ; 
	letter-spacing: 2px;
}
.what_doing{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #e8e8e8;
}
.what_doing_block{
	text-align: center;
	width: 30%;
	background: #f7f7f7;
	margin: 50px 0;
}
.what_doing_block img{
	width: 97%;
	margin: 5px 0 0 0;
}
.what_doing_block h2{
	font-family: sans-serif;
	font-weight: 700;
	padding:0 0 10px 0;
	color: #707070;
}
.what_doing_block p{
	font-family: sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0 0 40px 0;
}
.our_rules_block{
    background: #fff;
}
.our_rules_block h1{
	font-size: 38px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;  
    padding: 100px 0 0 0 ; 
	letter-spacing: 2px;
}
.our_rules_block_p{
	font-size: 20px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
    color: #000;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 70px 0; 
}
.our_rules_tag{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}
.our_rules_number{
	width: 30%;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
}
.our_rules_number p{
	font-weight: 900;
	font-size: 18px;
	padding: 20px 25px;
	border-radius: 60%;
	background: #000;
	display: inline;
	color: #fff;
	position: relative;
	top: -35px;
}
.our_rules_number h6{
	font-size: 21px;
	margin: 20px 10px;
	font-family: sans-serif;
}
.our_rules_number strong{
	position: relative;
	top: -35px;
	padding: 0 0 0 50px;
	font-size: 18px;
	font-weight: 500;
	font-family: sans-serif;
}
/*FOOTER*/
footer{
	background:linear-gradient(-45deg, rgba(255,166,77,1) 0%, rgba(255,95,11,1) 19%, rgba(255,95,11,1) 50%, rgba(255,95,11,1) 100%); 
	margin: 0px 0 0 0; 
	display: flex;
	justify-content: space-around;
	position: relative;
	bottom: 0px;
	flex-wrap: wrap; 
}
.footer_icons{
	display: flex;
}
footer p{
	color: #ddd;
	margin: 0 0 0 30px;
	padding: 25px 0;
	float: right;
	font-size: 17px;
}
footer i{
	padding: 20px 20px;
	color: #fff;
	opacity: 0.9;
	font-size: 30px;
	cursor: pointer;
}
footer i:hover{
	opacity: .8;
}